<div class="row no-shrink">
	<div class="col-md-5 col-xs-5 flex-input">
		<div class="input-wrapper">
			<label class="">
				<span>Script</span>
			</label>
			<input type="text" class="topcoat-text-input" readonly="true" ng-model="filename" ng-click="browseScript()" uib-tooltip="{{filename}}" tooltip-popup-delay="500" tooltip-placement="bottom">
		</div>
	</div>
	<div class="col-md-1 col-xs-1 flex-input">
		<button class="topcoat-button" ng-click="reloadScript()" ng-if="!!filename" uib-tooltip="Reload script" tooltip-popup-delay="1000" tooltip-placement="bottom">
			<span class="glyphicon glyphicon-repeat"></span>
		</button>
	</div>
	<div class="col-md-5 col-xs-5 flex-input">
		<div class="input-wrapper">
			<label class="">
				<span>Style Set</span>
			</label>
			<styleset-selector selected-value="selectedStyleset"></styleset-selector>
		</div>
	</div>

	<div class="col-md-1 col-xs-1 flex-input">
		<div class="btn-group" uib-dropdown is-open="status.isopen">
			<button class="topcoat-button" uib-dropdown-toggle>
				<span class="glyphicon glyphicon-cog"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
				<li class="dropdown-header">Panel separator</li>
				<li role="menu-item" ng-class="{'active': panelSeparator == '–'}" ng-click="setting('panelSeparator', '–')"><span>Long dash –</span></li>
				<li role="menu-item" ng-class="{'active': panelSeparator == '-'}" ng-click="setting('panelSeparator', '-')"><span>Single dash -</span></li>
				<li role="menu-item" ng-class="{'active': panelSeparator == '--'}" ng-click="setting('panelSeparator', '--')"><span>Double dash --</span></li>
				<li role="menu-item" ng-class="{'active': panelSeparator == '='}" ng-click="setting('panelSeparator', '=')"><span>Equal sign =</span></li>
				<li class="divider"></li>
				<li role="menu-item" class="dropdown-header">Use layer groups</li>
				<li role="menu-item" ng-class="{'active': useLayerGroups === true}" ng-click="setting('useLayerGroups', true)"><span>Yes</span></li>
				<li role="menu-item" ng-class="{'active': useLayerGroups === false}" ng-click="setting('useLayerGroups', false)" ><span>No</span></li>
				<li class="divider"></li>
				<li role="menu-item" class="dropdown-header">Merge multibubbles</li>
				<li role="menu-item" ng-class="{'active': mergeBubbles === true}" ng-click="setting('mergeBubbles', true)"><span>Yes</span></li>
				<li role="menu-item" ng-class="{'active': mergeBubbles === false}" ng-click="setting('mergeBubbles', false)" ><span>No</span></li>
			</ul>
		</div>
	</div>
</div>
<div class="no-shrink row pb header">
	<div class="col-lg-4 col-md-4 col-xs-4">
		<label>Page</label>
		<button class="topcoat-icon-button--quiet" ng-disabled="!!!pageNumbers.length">
			<span class="glyphicon glyphicon-minus" ng-click="incPageNumber(false)"></span>
		</button>

			<select ng-options="pageNumber as pageNumber for pageNumber in pageNumbers" ng-model="selectedPage" ng-disabled="!!!pageNumbers.length">

			</select>

		<button class="topcoat-icon-button--quiet" ng-disabled="!!!pageNumbers.length">
			<span class="glyphicon glyphicon-plus" ng-click="incPageNumber(true)"></span>
		</button>
	</div>
	<div class="col-lg-4 col-md-4 col-xs-4">
		<label ng-if="!!selectedPage && !!bubbles.length">
			Page style: {{pageStyle.keyword}} <span class="glyphicon glyphicon-warning-sign" ng-if="!!!pageStyle.inStyleSet"></span>
		</label>
	</div>
	<div class="col-lg-4 col-md-4 col-xs-4">
		<label>
			Force
		</label>
		<tb-style-selector styleset="selectedStyleset" selected-value="selectedForcedStyle"></tb-style-selector>
	</div>

</div>
<div class="page-note" ng-repeat="pageNote in pageNotes">
	{{pageNote}}
</div>
<div class="list scrollable">
	<div class="list-item p" ng-if="!!selectedPage && !!!bubbles.length">Nothing to typeset on this page</div>
	<div class="list-item row bubble-item" ng-class="{'multibubble-part': !!bubble.multibubblePart, 'panel-separator': !!bubble.panelSeparator}" ng-repeat="bubble in bubbles">
		<div class="col-lg-2 col-md-3 col-xs-3 style-buttons" ng-if="!!!bubble.panelSeparator">
			<button class="topcoat-button" ng-repeat="style in bubble.styles track by $index" ng-click="typeset(bubble, style)" uib-tooltip="Create it first or use the force :D" tooltip-popup-delay="1000" tooltip-placement="bottom-left" tooltip-enable="!!!style.inStyleSet">
				<span>{{style.keyword}}</span>
				<span class="glyphicon glyphicon-warning-sign" ng-if="!!!style.inStyleSet"></span>
			</button>
		</div>
		<div class="col-lg-10 col-md-9 col-xs-9" ng-if="!!!bubble.panelSeparator">
			<div class="selectable bubble-content" ng-if="!!bubble.text">{{bubble.text}}<button class="topcoat-button clipbutton">
					<span class="glyphicon glyphicon-copy" ng-click="toClipboard(bubble.text)"></span>
				</button>
			</div>
			<div class="bubble-note selectable" ng-repeat="note in bubble.notes">
				{{note}}
				<button class="topcoat-button clipbutton">
					<span class="glyphicon glyphicon-copy" ng-click="toClipboard(bubble.notes)"></span>
				</button>
			</div>
			<div class="bubble-sibling" ng-repeat="sibling in bubble.siblings">
				<div class="selectable bubble-content">{{sibling.text}}<button class="topcoat-button clipbutton">
						<span class="glyphicon glyphicon-copy" ng-click="toClipboard(sibling.text)"></span>
					</button>
				</div>
				<div class="bubble-note selectable" ng-repeat="note in sibling.notes">
					{{note}}
					<button class="topcoat-button clipbutton">
						<span class="glyphicon glyphicon-copy" ng-click="toClipboard(note)"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>