<div class="no-shrink p">
	<button class="topcoat-button" ng-click="newStyleSet()" uib-tooltip="Create a new set" tooltip-popup-delay="1000" tooltip-placement="bottom-left">
		<span class="glyphicon glyphicon-plus"></span>
		<!-- New -->
	</button>
	<button class="topcoat-button" ng-click="importStyleSet()" uib-tooltip="Import a set from a json file" tooltip-popup-delay="1000" tooltip-placement="bottom-left">
		<span class="glyphicon glyphicon-import"></span>
		<!-- Import -->
	</button>
	<button class="topcoat-button" ng-click="extendStyleSet()" uib-tooltip="Analyze a translation script and extend the current set with keywords found within it" tooltip-popup-delay="1000" tooltip-placement="bottom-left">
		<span class="glyphicon glyphicon-indent-right"></span>
		<!-- Extend -->
	</button>
	<button class="topcoat-button" ng-click="saveStyleSet()" uib-tooltip="Save current set" tooltip-popup-delay="1000" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-floppy-disk"></span>
		<!-- Save -->
	</button>
	<button class="topcoat-button" ng-click="exportStyleSet()" ng-disabled="selectedStyleset == undefined" uib-tooltip="Export current set as a json file" tooltip-popup-delay="1000" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-export"></span>
		<!-- Export -->
	</button>
	<button class="topcoat-button" ng-click="duplicateStyleSet()" ng-disabled="selectedStyleset == undefined" uib-tooltip="Duplicate current set
	" tooltip-popup-delay="1000" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-duplicate"></span>
		<!-- Duplicate -->
	</button>
	<button class="topcoat-button" ng-click="deleteStyleSet()" ng-disabled="!!!selectedStyleset" uib-tooltip="Delete current set
	" tooltip-popup-delay="1000" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-trash"></span>
		<!-- Delete -->
	</button>
	<styleset-selector selected-value="selectedStyleset"></styleset-selector>

	<div class="pull-right">
		<button class="topcoat-button" ng-click="actionSelectedLayers('toggleHyphenation')" uib-tooltip="Toggle hyphenation on selected layers" tooltip-popup-delay="1000" tooltip-placement="bottom-right">
			<strong>H</strong><span class="glyphicon glyphicon-minus"></span>
		</button>
		<button class="topcoat-button" ng-click="actionSelectedLayers('toggleFauxBold')" uib-tooltip="Toggle faux bold on selected layers" tooltip-popup-delay="1000" tooltip-placement="bottom-right">
			<span class="glyphicon glyphicon-bold"></span>
		</button>
		<button class="topcoat-button" ng-click="actionSelectedLayers('toggleFauxItalic')" uib-tooltip="Toggle faux italic on selected layers" tooltip-popup-delay="1000" tooltip-placement="bottom-right">
			<span class="glyphicon glyphicon-italic"></span>
		</button>
		<button class="topcoat-button" ng-click="actionSelectedLayers('adjustFontSize', -1)" uib-tooltip="Decrease font size by 1 pixel on selected layers" tooltip-popup-delay="1000" tooltip-placement="bottom-right">
			<span class="glyphicon glyphicon-text-height"></span>-
		</button>
		<button class="topcoat-button" ng-click="actionSelectedLayers('adjustFontSize', 1)" uib-tooltip="Increase font size by 1 pixel on selected layers" tooltip-popup-delay="1000" tooltip-placement="bottom-right">
			<span class="glyphicon glyphicon-text-height"></span>+
		</button>
		<button class="topcoat-button" ng-click="actionSelectedLayers('roundFontSize')" uib-tooltip="Round font size on selected layers" tooltip-popup-delay="1000" tooltip-placement="bottom-right">
			<span class="glyphicon glyphicon-text-height"></span>o
		</button>
		<button class="topcoat-button" ng-click="actionSelectedLayers('autoResize')" uib-tooltip="Auto resize selected layers" tooltip-popup-delay="500" tooltip-placement="bottom-right">
			<span class="glyphicon glyphicon-resize-small"></span>
		</button>
	</div>
</div>

<div class="row no-shrink pb header">
	<div class="col-md-4 col-xs-4">
		<label>
			Name
			<input type="text" class="topcoat-text-input" placeholder="Styleset name" ng-model="styleSet.name" ng-disabled="selectedStyleset === 0" ng-pattern="/[\d\w]{1,30}/">
		</label>
	</div>
	<div class="col-md-5 col-xs-5">
		<label>
			Style filter
			<input type="text" class="topcoat-text-input" placeholder="filter..." ng-model="styleFilter">
		</label>
		<button class="topcoat-button" ng-click="clearStyleFilter()" ng-if="!!styleFilter">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>
	<div class="col-md-3 col-xs-3 text-right">
		<button class="topcoat-button" ng-click="addStyle()">Add Style</button>
	</div>
</div>
<div class="list scrollable padded">
	<div class="list-item" ng-repeat="style in styleSet.styles |filter: {keyword: styleFilter||undefined}">
		<tb-style-preset preset="style" remove-action="removeStyle(style)" duplicate-action="duplicateStyle(style)" apply-action="applyStyleSelectedLayers(style, resize)" set-action="setStyle(style)" ng-class="{'default-style': style.default}"></tb-style-preset>
	</div>
</div>
<div class="row no-shrink pv">
	<div class="col-md-4 col-xs-4">
		<button class="topcoat-button" ng-click="exportStyleProps()" uib-tooltip="Export available fonts and style properties" tooltip-popup-delay="1000" tooltip-placement="top-left">
			<span class="glyphicon glyphicon-book"></span>
		</button>
	</div>
	<div class="col-md-5 col-xs-5">

	</div>
	<div class="col-md-3 col-xs-3 text-right">
		<button class="topcoat-button" ng-click="addStyle()">Add Style</button>
	</div>
</div>
