<button class="topcoat-button" ng-click="setAction()" uib-tooltip="Just set the style parameters" tooltip-popup-delay="500" tooltip-placement="bottom-right">
	<span class="glyphicon glyphicon-text-color"></span>
</button>
<button class="topcoat-button" ng-click="applyAction()" uib-tooltip="Apply style on selected text layers" tooltip-popup-delay="500" tooltip-placement="bottom-right">
	<span class="glyphicon glyphicon-tint"></span>
</button>
<button class="topcoat-button" ng-click="applyAction({style:preset, resize:true})" uib-tooltip="Apply style on selected text layers and auto-resize them" tooltip-popup-delay="500" tooltip-placement="bottom-right">
	<span class="glyphicon glyphicon-tint"></span>+<span class="glyphicon glyphicon-resize-small"></span>
</button>
