<div class="no-shrink p">
	<button class="topcoat-button" ng-click="newStyleSet()" uib-tooltip="New" tooltip-popup-delay="500" tooltip-placement="right-bottom">
	<span class="glyphicon glyphicon-plus"></span>
		<!-- New -->
	</button>
	<button class="topcoat-button" ng-click="importStyleSet()" uib-tooltip="Import" tooltip-popup-delay="500" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-import"></span>
		<!-- Import -->
	</button>
	<button class="topcoat-button" ng-click="extendStyleSet()" uib-tooltip="Analyze a script and extend current set with styles found within it" tooltip-popup-delay="500" tooltip-placement="bottom-left">
		<span class="glyphicon glyphicon-indent-right"></span>
		<!-- Extend -->
	</button>
	<button class="topcoat-button" ng-click="saveStyleSet()" uib-tooltip="Save" tooltip-popup-delay="500" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-floppy-disk"></span>
		<!-- Save -->
	</button>
	<button class="topcoat-button" ng-click="exportStyleSet()" ng-disabled="selectedStyleset == undefined" uib-tooltip="Export" tooltip-popup-delay="500" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-export"></span>
		<!-- Export -->
	</button>
	<button class="topcoat-button" ng-click="duplicateStyleSet()" ng-disabled="selectedStyleset == undefined" uib-tooltip="Duplicate" tooltip-popup-delay="500" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-duplicate"></span>
		<!-- Duplicate -->
	</button>
	<button class="topcoat-button" ng-click="deleteStyleSet()" ng-disabled="!!!selectedStyleset" uib-tooltip="Delete" tooltip-popup-delay="500" tooltip-placement="bottom">
		<span class="glyphicon glyphicon-trash"></span>
		<!-- Delete -->
	</button>
	<styleset-selector selected-value="selectedStyleset"></styleset-selector>
	<button class="topcoat-button pull-right" ng-click="exportConstants()" uib-tooltip="Export available fonts and constant values" tooltip-popup-delay="500" tooltip-placement="left-bottom">
		<span class="glyphicon glyphicon-save"></span>
		<span class="glyphicon glyphicon-book"></span>
	</button>
</div>

<div class="row no-shrink pb header">
	<div class="col-md-4 col-xs-4">
		<label>
			Name
			<input type="text" class="topcoat-text-input" placeholder="Styleset name" ng-model="styleSet.name" ng-disabled="selectedStyleset === 0" ng-pattern="/[\d\w]{1,30}/">
		</label>
	</div>
	<div class="col-md-4 col-xs-4">

	</div>
	<div class="col-md-4 col-xs-4 text-right">
		<button class="topcoat-button" ng-click="addStyle()">Add Style</button>
	</div>
</div>
<div class="list scrollable padded">
	<div class="list-item" ng-repeat="style in styleSet.styles">
		<tb-style-preset preset="style" remove-action="removeStyle(style)" duplicate-action="duplicateStyle(style)" ng-class="{'default-style': style.default}"></tb-style-preset>
	</div>

</div>

<!--<pre style="max-width: 100%; max-height: 200px; overflow-y: auto; word-wrap: break-word;" class="no-shrink">
{{styleSet|json}}
</pre>-->