<uib-tabset class="">
	<uib-tab index="one.name" heading="{{one.label}}" ui-sref="{{one.name}}" ui-sref-active="active" ng-repeat="one in routes"></uib-tab>
	<uib-tab index="8" heading="About" ui-sref="about" ui-sref-active="active" class="pull-right"></uib-tab>
	<uib-tab index="9" heading="Log" ui-sref="log_view" ui-sref-active="active" ng-if="$root.debug" class="pull-right"></uib-tab>
	<uib-tab index="10" heading="RESET" ng-click="resetLocalStorage()" ng-if="$root.debug" class="pull-right"></uib-tab>
</uib-tabset>

<ui-view name="app" class="flex-col"></ui-view>
