html,
body {
	height: 100%;
}

@font-face {
	font-family: "Source Sans";
	src: url("../fonts/SourceSansPro-Regular.otf");
}

@font-face {
	font-family: "Source Sans";
	src: url("../fonts/SourceSansPro-Light.otf");
	font-weight: 200;
}

@font-face {
	font-family: "Source Sans";
	src: url("../fonts/SourceSansPro-Semibold.otf");
	font-weight: 600;
}

html,
body {
	font-size: 14px;
}

select {
	font-size: 12px;
	border: 0;
	border-radius: 2px;
}


button:active {
	outline: none !important;
	box-shadow: inset 0 1px #fff !important;
  border: 1px solid #9daca9 !important;
}

button:focus {
	outline: none !important;
	box-shadow: inset 0 1px transparent !important;
	border: 1px solid #9daca9 !important;
}

.topcoat-button-bar__item:first-child > .topcoat-button-bar__button:focus,
.topcoat-button-bar__item:first-child > .topcoat-button-bar__button--large:focus {
	border-right: none !important;
}

.topcoat-button-bar__item:last-child > .topcoat-button-bar__button:focus,
.topcoat-button-bar__item:last-child > .topcoat-button-bar__button--large:focus {
	border-left: none !important;
}


button .glyphicon {
	line-height: 1.313rem;
}

label {
	margin-bottom: 0;
}

.wordwrap {
	white-space: pre-wrap;
	word-wrap: initial;
	word-break: initial;
}

.topcoat-button,
.topcoat-button--quiet,
.topcoat-button--large,
.topcoat-button--large--quiet,
.topcoat-button--cta,
.topcoat-button--large--cta {
	padding: 1px 5px;
	vertical-align: middle;
	line-height: inherit;
}

.input-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: flex-end;
}

.input-flex > * {
	flex-basis: 75%;
}

.input-flex-larger > * {
	flex-basis: 25%;
}

.input-flex-larger > *:last-child {
	flex-basis: 90%;
}

.input-flex > *:first-child {
	flex-grow: 1;
	margin-right: 5px;
	white-space: nowrap;
}

.topcoat-text-input,
input[type="text"],
input[type="number"],
input[type="select"] {
	padding: 1px 5px;
	line-height: 1em;
	letter-spacing: unset;
}

input[type="text"].ng-invalid,
input[type="number"].ng-invalid,
input[type="select"].ng-invalid {
	border: solid 1px red !important;
}

input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
	padding-top: 2px;
}

.full-width {
	width: 100%;
}

.m0  { margin:           0 !important; }
.mt0 { margin-top:       0 !important; }
.mr0 { margin-right:     0 !important; }
.mb0 { margin-bottom:    0 !important; }
.ml0 { margin-left:      0 !important; }
.mh0 { margin-right:     0 !important; margin-left:      0 !important; }
.mv0 { margin-top:       0 !important; margin-bottom:    0 !important; }
.m  { margin: 5px; }
.mt { margin-top: 5px; }
.mb { margin-bottom: 5px; }
.mv { margin-top: 5px; margin-bottom: 5px; }
.mr { margin-right: 5px; }
.ml { margin-left: 5px; }
.mh { margin-right: 5px; margin-left: 5px; }

.p0  { padding:          0 !important; }
.pt0 { padding-top:      0 !important; }
.pr0 { padding-right:    0 !important; }
.pb0 { padding-bottom:   0 !important; }
.pl0 { padding-left:     0 !important; }
.ph0 { padding-right:    0 !important; padding-left:     0 !important; }
.pv0 { padding-top:      0 !important; padding-bottom:   0 !important; }

.p  { padding: 5px; }
.pt { padding-top: 5px; }
.pb { padding-bottom: 5px; }
.pv { padding-top: 5px; padding-bottom: 5px; }
.pr { padding-right: 5px; }
.pl { padding-left: 5px; }
.ph { padding-right: 5px; padding-left: 5px; }

.nav > li > a {
	position: relative;
	display: block;
	padding: 3px 5px;
}

.row {
	margin: 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 5px;
	padding-left: 5px
}

.dropdown-menu >li > *:first-child {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
}

.dropdown-header,
.dropdown-menu .dropdown-submenu > .dropdown-header {
	padding: 3px 20px 3px 5px;
	font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #ddd;
  font-style: italic;
}

.dropdown-menu > .active > *:first-child {
	text-decoration: none;
	font-weight: bolder;
	outline: 0;
}

.dropdown-menu li:not(.dropdown-header):hover {
	background: #ddd;
}

.dropdown-menu > .active > *:first-child:after {
  content: '\2713';
  right: -8px;
  float: right;
  position: relative;
}

.alert {
	padding: 5px;
	font-size: 12px;
	cursor: default;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	margin-bottom: 10px;
}

tb-style-preset {
	display: block;
	padding: 5px 0;
}

tb-style-preset.default-style {
	background: #ddd;
}

.dark tb-style-preset.default-style {
	background: #bbb;
}

tb-style-preset>div.row:first-child {

}

.selectable {
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

.list > .list-item:not(last-child) {
	border-bottom: 1px dotted #ddd;
}

.list.padded {
	padding-bottom: 200px;
}

.list .bubble-item {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
}

.style-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-item.panel-separator {
	background: #ddd;
	padding: 2px !important;
	margin-top: -1px;
}

.bubble-content {
	white-space: pre-line;
}

.clipbutton {
	float: right;
	/*margin: 3px 0 0 3px;*/
	margin: 0;
}

.multibubble-part .bubble-content:before {
	content: "";
	display: inline-block;
	position: absolute;
	height: 100%;
	left: 5px;
	top: 0;
	width: 5px;
	border-left: solid 2px #ddd;
	border-bottom: solid 2px #ddd;
}

.multibubble-part .bubble-content {
	padding-left: 15px !important;
}

.bubble-sibling {
	margin-top: 5px;
}

.bubble-sibling:before {
	content: "";
	display: inline-block;
	float: left;
	margin-right: 10px;
	width: 5px;
	height: 1em;
	border-left: solid 2px #ddd;
	border-bottom: solid 2px #ddd;
}

.page-note,
.bubble-note {
	font-size: 11px;
	font-style: italic;
	padding: 5px 0 5px 3px;
	margin: 5px 0;
}

.bubble-note {
	border-radius: 2px;
	background-color: #ddd;
}

.bubble-note .clipbutton {
	margin: -3px 0;
}

.dark .bubble-note {
	background-color: #666;
}

.topcoat-switch {
	z-index: 1;
}

.inline-flex {
	display: inline-flex;
}

.flex-input {
	padding: 5px;
}

.flex-input .input-wrapper {
	display: flex;
	flex: 1;
	align-self: stretch;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.flex-input label {
	flex: initial;
	max-width: 200px;
	pointer-events: none;
	display: block;
	margin: 2px 0;
}

.flex-input input[type="text"],
.flex-input input[type="number"],
.flex-input select {
	flex: 1;
	width: 100%;
	display: block;
	margin-left: 10px;
}

.app-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.scrollable {
	flex: 1 1 auto;
	overflow-y: auto;
	min-height: 0px;
}

.flex-col {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
}

.flex {
	display: flex;
	align-items: center;
}

.flex.between {
	justify-content: space-between;
}

.flex.around {
	justify-content: space-around;
}

.no-shrink {
	flex-shrink: 0;
}

button .glyphicon {
	line-height: 1;
	top: 2px;
}

.topcoat-checkbox__checkmark:after {
	top: 2px;
	left: 2px;
	opacity: 0;
	width: 10px;
	height: 7px;
	background: transparent;
	border-width: 3px;
	border-top: none;
	border-right: none;
	border-radius: 1px;
	-webkit-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	transform: rotate(-50deg);
}

.topcoat-checkbox__checkmark:before {
	position: absolute;
	top: 0px;
	left: 0;
}

.topcoat-checkbox {
	padding: 2px 0;
}

.modal-dialog.modal-xs {
	width: 50%;
	margin: auto;
	top: 50px;
}

.dark .modal-dialog .modal-content {
	color: #000;
}

.header {
	border-bottom: 1px solid #666;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > .dropdown-menu.dropdown-menu-left {
	left: auto !important;
	right: 100%;
	-webkit-border-radius: 6px 0px 6px 6px;
	-moz-border-radius: 6px 0px 6px 6px;
	border-radius: 6px 0px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.collapsed .hide-collapsed {
	display: none;
}

.show-collapsed {
	display: none;
}

.collapsed .show-collapsed {
	display: inherit;
}
